<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pharmacy.Properties.Settings.UserPassConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=UserPass.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Pharmacy.Properties.Settings.PharmacyDBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=PharmacyDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>